body {
  font-family: "Poppins";
}

header .contenuNav .contenuNav2 {
  width: 100%;
}

header .contenuNav .contenuNav2 h1 {
  font-family: Poppins-Bold;
}

header .contenuNav .contenuNav2 ul #emporium2 {
  font-family: Poppins-Bold;
  width: auto;
}

header .contenuNav .contenuNav2 ul li a {
  text-decoration: none;
}

header .contenuNav .contenuNav2 ul li a #white {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
}

header .contenuNav .contenuNav2 ul li a #black {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: black;
}

header .contenuNav .contenuNav2 ul li a #connexion {
  border: none;
  background-color: #858282;
  padding: 10px;
  border-radius: 3px;
}

.banner {
  position: relative;
  background-color: #F3F3F3;
}

.banner .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.banner .container .col-8 .titreBanner {
  font-size: 60px;
  color: #DD4545;
}

.banner .container .col-8 p {
  opacity: 0.7;
}

.banner .container .col-8 img {
  width: 400px;
}

.banner .container .col-8 button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
}

.banner .container .col-4 .slider {
  width: 400px;
}
