.banner
    position: relative
    background-color: #F3F3F3
    .container
        position: relative
        display: flex
        flex-wrap: wrap
        .col-8
            .titreBanner
                font-size: 60px
                color: #DD4545
            p
                opacity: 0.7
            img
                width: 400px
            button
                width: 150px
                height: 50px
                border: none
                border-radius: 50px
                text-decoration: none
                z-index: 10
        .col-4
            .slider
                width: 400px
                