.cartes
        padding-left: 15%
        padding-right: 15%
        .row
            display: flex
            justify-content: center
            .col-4
                    div
                        width: 98%
                        .produit
                            position: relative
                            img
                                max-width: 100%
                                transition: all 2s
                            &:hover
                                &::before
                                    content: "View Details"
                                    font-weight: 900
                                    position: absolute
                                    background-color: black
                                    color: white
                                    display: flex
                                    align-items: center
                                    justify-content: center
                                    bottom: 0
                                    animation: produit 0.5s 
                                    animation-fill-mode: forwards
                                    max-width: 50%
                                &::after
                                    content: "Add to cart"
                                    font-weight: 900
                                    position: absolute
                                    display: flex
                                    align-items: center
                                    justify-content: center
                                    background-color: #DD4545
                                    color: white
                                    bottom: 0
                                    animation: produit 0.5s 
                                    animation-fill-mode: forwards
                                    max-width: 50%
                                    left: 50%
                        .prodBouton
                            position: absolute
                            margin-top: 125px
                            justify-content: center
                            display: none
                        span
                            font-weight: bold
                            font-size: 17px
                        .row
                            .col-6
                                button
                                    height: 50px
                                    width: 60px
                                    border: none
                                    border-radius: 50%
                                    margin: 5px 0
                                .row
                                    del
                                        color: #545557
                                        opacity: 0.6
                                        span
                                            font-size: 17px
                                    span
                                        font-size: 17px