header
    .contenuNav
        .contenuNav2
            width: 100%
            h1
                font-family: Poppins-Bold
            ul
                #emporium2
                    font-family: Poppins-Bold
                    width: auto
                li
                    a
                        text-decoration: none
                        #white
                            width: 20px
                            height: 20px
                            border-radius: 5px
                            background-color: white
                        #black
                            width: 20px
                            height: 20px
                            border-radius: 5px
                            background-color: black
                        #connexion
                            border: none
                            background-color: #858282
                            padding: 10px
                            border-radius: 3px