header
    .contenuNav
        .contenuNav2
            width: 100%
            h1
                font-weight: bold
            ul
                #emporium2
                    font-weight: bold
                    width: auto
                li
                    #white
                        width: 20px
                        height: 20px
                        border-radius: 5px
                        background-color: white
                    #black
                        width: 20px
                        height: 20px
                        border-radius: 5px
                        background-color: black
                    #connexion
                        border: none
                        background-color: #969292
                        padding: 10px
                        border-radius: 3px
                    #connexion:hover
                        background-color: #db4141
                        border-radius: 50px